<!DOCTYPE html>
<html lang="en">
<head>
  <title>DataBinding</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="uname">Username:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="userName"  (mouseout)="updateResetButton()" (keypress)="updateResetButton()" (mouseover)="updateResetButton() " class="form-control" id="uname" name="uname">
        <p>{{userName}}</p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button [disabled]="!canReset" type="submit" class="btn btn-primary" (mouseover)="updateResetButton()" (click)="resetUser()" >Reset User</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
